.requirement-progress {
  width: auto;
}

.progress-label {
  display: block;
  float: left;
  margin-right: 10px;
}

.card-selected {
  font-weight: bold;
  border-color: lime !important;
}

.card-container {
  width: 140px;
  height: 174px;
  background-image: url('../images/card_background.png');
  background-size: contain;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}

.card-value {
  padding: 67px 0;
  width: 140px;
  text-align: center;
  font-size: 30px;
  color: red;
}

.deck {
  clear: both;
  overflow: hidden;
  margin-top: 10px;
}

.no-deck-input {
  width: 100px;
  display: inline;
  margin-right: 10px;
}

.vote-alert {
  float: left;
  margin-bottom: -12px;
  margin-top: -7px;
}

.vote-alert-deck {
  display: inline;
}

.validationMessage {
  display: none;
}

.list-session {
  border: none !important;
}

.vote-text {
  font-size: 16px;
  margin-right: 5px;
}

.no-deck-vote-text {
  float: left;
  margin-left: 5px;
  margin-right: 0;
  line-height: 30px;
}

.pollice {
  background: url('../images/pollice.jpg') repeat;
}

.pollice table.table {
  background-color: white;
}
